{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <img src="https://res.cloudinary.com/dtf6gxvaq/image/upload/v1647900799/vrulabxccsgokffylhlj.jpg">
  </div>
</div>