<form class="box" action="/location/{{location._id}}/addartwork" method="POST">
  <label><strong>Enter Artwork Details:</strong></label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Artist" name="artist">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Year" name="year">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Latitude" name="lat" min="-90" max="90" step=".000001">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Longitude" name="lng" min="-180" max="180" step=".000001">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Select Category" list="categories" name="category">
          <datalist id="categories">
            <option value="Mural">
            <option value="Sculpture">
            <option value="Graffiti">
            <option value="Dublin Canvas Box">
            <option value="Waterford Walls">
          </datalist>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Artwork</button>
</form>