<form action="/dashboard/addlocation" method="POST">
<div class="box box-link-hover-shadow">
<label><strong>Enter Location Details:</strong></label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="name">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Latitude" name="lat" min="-90" max="90" step=".000001">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Longitude" name="lng" min="-180" max="180" step=".000001">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Location</button>
</div>
</form>