{{#each locations}}
  <div class="column is-one-quarter">
<div class="card">
  <div class="card-image">
    <figure class="image is-256x256">
      <img id="cardStyle" src={{img}}>
    </figure>
  </div>
  <div class="card-content has-text-centered">
    <h2 class="title">
      {{name}}
    </h2>
    <footer class="card-footer">
    <a href="/location/{{_id}}" class="card-footer-item">
        <p>Open <i class="fas fa-paint-brush"></i></p>
    </a>
    <a href="/dashboard/deletelocation/{{_id}}" class="card-footer-item">
      <p>Delete <i class="fas fa-eraser"></i></p>
    </a>
    </footer>
  </div>
  </div>
  </div>
{{/each}}